<!DOCTYPE html>
<html>
<head>
	<title>temp_app</title>
</head>

<style>
	h1
	{
		text-align: center;
	}
	form
	{
	 	text-align: center;
	}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	<div class="w3-container w3-display-middle">
		<div class="w3-panel w3-card" style="height: 400px;">
			<h1>Amazon Reviews Scraper</h1><br><br>
			<form id="input-form" method="post" action="/">
				<input type="text" name="url" style="width: 300px;" placeholder="Amazon Product URL"/><br><br>
				<input id="submitbutton" type="submit" name="submitbutton" value="Analyze Reviews"/>
			</form>
		</div>
	</div>

</body>
</html>